body {
  margin: center;
  font-family: 'Sedgwick Ave Display', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: 'Sedgwick Ave Display', cursive;
}

.Link {
  color: white !important;
}
